/* Cascading Stylesheet*/
* {
  margin: 0;
}
html,
body {
  --white: hsl(240, 9%, 89%);
  --lightgrey: hsl(240, 7%, 78%);
  --grey: hsl(240, 6%, 21%);
  --black: hsl(240, 6%, 13%);

  height: 100%;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}
body {
  display: grid;
  place-items: start center;
  background-image: url('images/background.svg');

  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
  background-size: cover;
}
main {
  background: url(images/badge_mobile.svg) no-repeat center/cover;
  /* height: 812px;
  width: 375px; */
  height: 100vh;
  width: 100vw;
  min-height: 812px;
  min-width: 375px;

  /* border-radius: 0.3rem; */
}
.container {
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  color: var(--white);
}

.avatar {
  width: 10rem;
  margin: 11.5rem auto 0;
  position: relative;
}

.avatar span {
  position: absolute;
  top: -0.94rem;
  z-index: 1;
}

.avatar > img {
  width: 10rem;
  height: 11.5rem;
  object-fit: cover;
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

h1 {
  font-size: 1.5rem;
  color: var(--white);
  margin-top: 1.5rem;
}

a {
  color: var(--lightgrey);
  text-decoration: none;
  margin-top: 0.25rem;
  display: flex;
  gap: 0.75rem;
  justify-content: center;
  align-items: center;
}

p {
  margin-top: 2rem;
}

ul {
  margin-top: 4rem;
  list-style: none;
  padding: 0;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}

/* Media queries */
@media (min-width: 800px) {
  body {
    display: flexbox;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
    background-size: cover;
    align-content: top;
  }

  main {
    width: 358px;
    height: 680px;
    min-width: 358px;
    min-height: 680px;
    background: url(./images/badge_desktop.svg) no-repeat center/cover;
    /* background-color: #202024; */
    background-size: 358px 680px;
    margin-top: -1rem;
  }

  .container {
    margin-top: 0px;
    padding-top: 140px;
  }

  .avatar {
    margin: 4.7rem auto 0;
  }

  ul {
    margin: 1.5rem auto 0;
  }
}
